# To learn more about .editorconfig see https://aka.ms/editorconfigdocs
root = true

# Don't use tabs for indentation.
[*]
indent_style = space
# (Please don't specify an indent_size here; that has too many unintended consequences.)

[*.cs]
indent_size = 4
charset = utf-8-bom

file_header_template =--------------------------------------------------------------------------\n Copyright (c) Microsoft Corporation. All rights reserved.\n Licensed under the MIT License.\n--------------------------------------------------------------------------

# use this. for all instance member access
dotnet_style_qualification_for_field = true:error
dotnet_style_qualification_for_property = true:error
dotnet_style_qualification_for_method = true:error
dotnet_style_qualification_for_event = true:error

# Sort using and Import directives with System.* appearing first
dotnet_sort_system_directives_first = true
dotnet_separate_import_directive_groups = false

# don't specify private/internal if it's default
dotnet_style_require_accessibility_modifiers = omit_if_default:error

# Reusable naming style definitions
dotnet_naming_style.camel_case.capitalization = camel_case
dotnet_naming_style.pascal_case.capitalization = pascal_case

# Constants are PascalCase
dotnet_naming_rule.constants_should_be_pascal_case.severity = error
dotnet_naming_rule.constants_should_be_pascal_case.symbols = constants
dotnet_naming_rule.constants_should_be_pascal_case.style = pascal_case

dotnet_naming_symbols.constants.applicable_kinds = field, local
dotnet_naming_symbols.constants.required_modifiers = const

# Static fields are PascalCase
dotnet_naming_rule.static_fields_should_be_pascal_case.severity = error
dotnet_naming_rule.static_fields_should_be_pascal_case.symbols = static_fields
dotnet_naming_rule.static_fields_should_be_pascal_case.style = pascal_case

dotnet_naming_symbols.static_fields.applicable_kinds = field
dotnet_naming_symbols.static_fields.applicable_accessibilities = *
dotnet_naming_symbols.static_fields.required_modifiers = static

# Private instance private fields are camelCase
dotnet_naming_rule.private_instance_fields_should_be_camel_case.severity = error
dotnet_naming_rule.private_instance_fields_should_be_camel_case.symbols = private_instance_fields 
dotnet_naming_rule.private_instance_fields_should_be_camel_case.style = camel_case

dotnet_naming_symbols.private_instance_fields.applicable_kinds = field 
dotnet_naming_symbols.private_instance_fields.applicable_accessibilities = private

# Locals and parameters are camelCase
dotnet_naming_rule.locals_should_be_camel_case.severity = error
dotnet_naming_rule.locals_should_be_camel_case.symbols = locals_and_parameters
dotnet_naming_rule.locals_should_be_camel_case.style = camel_case

dotnet_naming_symbols.locals_and_parameters.applicable_kinds = parameter, local

# Local functions are PascalCase
dotnet_naming_rule.local_functions_should_be_pascal_case.severity = error
dotnet_naming_rule.local_functions_should_be_pascal_case.symbols = local_functions
dotnet_naming_rule.local_functions_should_be_pascal_case.style = pascal_case

dotnet_naming_symbols.local_functions.applicable_kinds = local_function

# All public and internal members are PascalCase
dotnet_naming_rule.public_members_should_be_pascal_case.severity = error
dotnet_naming_rule.public_members_should_be_pascal_case.symbols = public_members 
dotnet_naming_rule.public_members_should_be_pascal_case.style = pascal_case

dotnet_naming_symbols.public_members.applicable_kinds = property, method, field, event, delegate
dotnet_naming_symbols.public_members.applicable_accessibilities = public, internal

# let's not take responsibility for DotNetty problems (is external repo)
[Proxy/DotNetty/**.cs]
dotnet_analyzer_diagnostic.severity = none # disables most external analyzers
dotnet_diagnostic.CS0628.severity = none # protected member in sealed class
dotnet_diagnostic.CS0108.severity = none # hides inherited member, no "new"
dotnet_diagnostic.CS1570.severity = none # xml comments: badly formed xml
dotnet_diagnostic.CS1573.severity = none # xml comments: missing a parameter
dotnet_diagnostic.CS1574.severity = none # xml comments: bad cref
dotnet_diagnostic.CS1711.severity = none # xml comments: bad type param
dotnet_diagnostic.CS4014.severity = none # awaitable call not awaited
