jobs:
- job: Build
  pool:
    vmImage: windows-latest
  
  steps:
  - task: DotNetCoreCLI@2
    displayName: 'Build Projects'
    inputs:
      command: 'build'
      projects: 'src/APIM_ARMTemplate/**/*.csproj'

  - task: DotNetCoreCLI@2
    displayName: 'Run Tests'
    inputs:
      command: 'test'
      projects: 'src/APIM_ARMTemplate/**test**/**.*csproj'

trigger:
  branches:
    include:
    - '*'

pr:
  branches:
    include:
    - '*'